.output-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.output {
    border: solid 2px black;
    padding: 10px;
    display: inline-block;
    text-align: center;
}

.output b {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.output code {
    font-size: 1em;
    background-color: #f0f0f0;
    padding: 5px;
    border-radius: 5px;
}


.exception {
    text-align: center;
}